<head>
    <meta charset="utf-8">
   
    <meta name="theme-color" content="#D00AE5">
    <meta name="robots" content="index, nofollow">
    <meta name="description" content="PWA Discover Gifs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PWA Discover Gifs</title>
    <link rel="shortcut icon" href="/source/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/source/favicon.ico">
    <link rel="canonical" href="https://discover-gifs.herokuapp.com/"/>
    <link rel="manifest" href="/source/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
  </head>


