<nav>
  <b><a href="/">Discover Gifs</a> </b>
    <form action="/search" method="GET" id="searchbar">
      <label for="searchfield"> searchfield </label>
      <input type="text" id="searchfield" name="searchWord"  placeholder="Search a gif" data-search-input >
  
      <button id="submitbtn" type="submit"><img src="../source/pictures/search.svg">
      </button>
    </form>
  </nav>