<nav>
  <b><a href="/">Discover Gifs</a> </b>
    <form action="/search" method="GET" id="searchmusic">
      <input type="text" name="searchWord" id="user-input-field" placeholder="Search a gif" data-search-input >
      <button id=submitbtn type="submit">Submit</button>
    </form>
  </nav>