#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#searchbar label {
    height: 0px;
    width: 0px;
    opacity: 0;
}
nav {
    max-width: 1170px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0 auto;
    padding: 15px;
    color: #fff;
  }
  
  nav b a {
    font-size: 3em;
    margin: 0;
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
  }
  
input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    text-align: right;
    font-size: 2em;
    border: none;
}

button::after {
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
    color: #fff;
    border: none;
    padding: 16px;
    position: relative;
    width: 5em;
    z-index: 1;
    cursor: pointer;
    background-size: 400%;
    animation:colorshift 3s linear 0s infinite;
}