/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/****************************/
/* Preset codes */
* {
    box-sizing: border-box;
}
#info #searchgif {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 140px;
    animation:load 1s linear infinite;
    transform: rotate(0deg);

}
nav {
  max-width: 1170px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
}

nav b a {
  font-size: 3em;
  margin: 0;
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
      }
    100% {
      transform: rotate(360deg);
    }
  }

html {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background-color: #121212;
    min-height: calc(100vh - 0px);
}

ul {
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
}

section {
    padding: 15px;
    max-width: 1170px;
    margin: 0 auto;
}

p {
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 5px 0;
}
h1 a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    font-weight: bold;
}

/****************************/
/* Headings font en kleur */
h1,
h2,
h3 {

    color: #fff;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: 0;
    color: #fff;
}

h3 {
    font-size: 1.2em;
}

main {
    max-width: 50em;
    margin-bottom: 5em;
    background-color: unset;
    margin: 0 auto;
}

#overview section #list {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    width: 25em;
    padding: 1em;
}

label {
    display: flex;
    flex-flow: wrap;
    line-height: 1.5em;
    color: #000;
    font-weight: bold;
}

fieldset {
    border: none;
    padding: 0.5em 0em 1.5em;
}


/* section 1 */
#overview main {
    text-align: center;
}

#searchmusic {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* section 2 */

#overview section .results a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: transparent;
    color: transparent;
    transition: 0.3s ease 0s;
    opacity: 0;
    /* padding: 15px; */
}
#overview section .results span {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
    background-size: 400%;
    animation:colorshift 6s linear 0s infinite;
    padding: 15px;
    opacity: inherit;
    color: inherit;
    text-transform:capitalize;
    text-align: left;
}


#overview section .results a:hover {
    color: #fff;
    opacity: 1;
}

#overview section .results:hover, #overview section .results li a:hover, #overview section .results span:hover {
    opacity: 1;
}

#overview section .results {
height: auto;
color: #fff;
transition: 0.3s ease 0s;
box-sizing: content-box;
position: relative;
text-align: center;
width: 17.5em;
flex-direction: column-reverse;
margin: 1.25px 2.5px;
}



#overview section .results img {
    width: 100%;
    height: 15em;

    opacity: 1;
    z-index: 7;
    object-fit: fill;
}

input[type="text"] {
    /* width: 100%; */
    padding: 10px 15px;
    height: 2em;
    text-align: right;
    font-size: 2em;
}

button::after {
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../source/search.svg");
    position: absolute;
    z-index: -1;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
    color: #fff;
    border: none;
    padding: 16px;
    position: relative;
    text-indent: -9999px;
    width: 5em;
    z-index: 1;
    cursor: pointer;
    background-size: 400%;
    animation:colorshift 4s linear 0s infinite;
}

#info {
    display: flex;
    flex-direction: column;
    color:#fff;
    max-width: 835px;
}

#info header {
    padding: 15px 35px;
}
#info article {
    display: flex;
    flex-direction: row;
    background-color: #252525;
    margin-top: 40px;
    border-radius: 20px;
    border-bottom: 3px solid #000;
}
#info img {
    width: 250px;
    padding: 15px;
}


#overview section .results li p {
    padding-top: 15px;
}



#error section {
    text-align: center;
}

#error section img {
    width: 45em;
    padding: 15px;
}
#error section p {
    padding: 15px;
}
#error section a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.6em;
    background-image: linear-gradient(45deg,#380CD6 10%, #E50AE7 50%, #380CD6 100%);
    cursor: pointer;
    background-size: 400%;
    animation:colorshift 3s linear 0s infinite;
}

#result #detail {
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#383838;
    padding: 1em;
}
#detail li {
    width: 50%;
    text-align: center;
    padding: 1em;
}
#detail .giphyGif img {
    width: 100%;
}
#detail .giphyInfo {
    text-align: left;
    position: relative;
}
#detail .giphyInfo h2{
    text-transform:capitalize;
}
#detail .giphyInfo .Link {
    display: inline-flex;
    padding-bottom: 1em;

}
#detail .giphyInfo .Link p {
    margin-right: 1em;
    background-color: #fff;
}
.searchpage h2 {
    padding: 0.6em 1em;
    background-color: #383838;
}
/****************************/
/*+++++MEDIA QUERIES+++++*/
/*Bij de aangegeven max-width wordt de code uitgevoerd!*/
/*Desktop en laptop*/
@media (max-width:80em) {}

/*tablets landscape mode*/
@media (max-width:60em) {
    
}

/*tablets portrait mode*/
@media (max-width:45em) {

    
}



/*mobile */
@media (max-width:30em) {
    
}

/****************************/
/*+++++++++++++++++++++++*/

@keyframes colorshift
{
    
      0% {
        background-position:0%  100%;
      }
      50% {
        background-position:100%  100%;
      }

      100% {
        background-position:0%  100%;
      }
      
}