<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include ('../partials/head.ejs') %>
    </head>
    

      
<body id= "overview">
        <%- include ('../partials/nav.ejs') %>
<section>
    
<ul id="list">
   
    <% giphy.data.forEach(data => { %>
         <li class = "results">
         <a href="#<%= data.id %>"></a>
            <img src="<%= data.images.original.url %><">
            </a>
        </li>
        <% }) %>
</ul>
</section>
</body>
</html>